services:
  db:
    image: 42crunch/pixi:mongo
    command: mongod --quiet
    container_name: pixidb
    ports:
      - "27017:27017"
      - "28017:28017"

  app:
    #  image: heshaam/pixi:latest
     container_name: pixiapi
     build: ./app
     ports:
       - "8090:8090"
     expose:
       - 8090
